<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <a href="SignUp"  class="brand">Sign Up</a>
                <a href="login"  class="brand">Log In</a>
                <ul class="nav">
                    <li></li>
                    <li>
                        <h4 style="color:aliceblue"><%= messages.common.title%></h4>
                    </li>
                    <li>
                        <a href="/food"><%= messages.common.food%></a>
                    </li>
                    <li>
                        <a href="/tools"><%= messages.common.tools%></a>
                    </li>
                    <li>
                        <a href="/condiment"><%= messages.common.condiment%></a>
                    </li>
                    <li>
                        <a href="/essential"><%= messages.common.essential%></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<link rel="stylesheet" href="/stylesheets/docs.css">
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>